{% extends "base.html" %}

{% block head %}
{% block title %}<title>Pop Quiz</title>{% endblock %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/poll_style.css' %}" />
{% endblock %}

{% block content %}
<h2>{{ question.question_text }}</h2>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if question %}
<div class="description">
	{% if question.one_vote_only %}
	<p>one vote only</p>
	{% else %}
	<p>vote as many times as you like</p>
	{% endif %}
</div>
<svg class="chart" xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMinYMin meet"></svg>
<script>
var session_key = "{{request.session.session_key }}";
{% autoescape off %}
var data = {{ choices }}, 
	vote_limit = {{ question.vote_limit }},
	question_id = {{ question.id }};
{% endautoescape %}
</script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="{% static 'polls/poll_client_interface.js' %}"></script>
{% endif %}
{% endblock %}
