form {
    display: none;
}

h2 {
	font-size: 18px;
	margin: 0px;
	padding: 10px 0 5px 0;
}

.chart {
  display: block;
  background-color: yellow;
  padding: 1px 10px 10px 10px;
}

.votes_text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
  user-select: none;
}

.label_text {
  font: 12px sans-serif;
}